@media screen and (min-width: 500px) {
  .left, .main, .right {
    .body {
      width: 100%;
      height: 100%;
    }

    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701223994) 13%, rgba(255, 122, 151, 0.5) 4%), linear-gradient(44deg, rgba(0, 43, 99, 0.07922090238615942) 39%, rgba(242, 140, 143, 0.5) 18%), linear-gradient(118deg, rgba(84, 202, 242, 0.03152997265339608) 40%, rgba(247, 155, 187, 0.5) 54%), linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  font-family: "Roboto Mono", monospace;

  .container {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    background-color: #10101d;
    color: #FFFFFF;
    width: 600px;
    padding: 30px;
    border: 5px solid rgba(80, 80, 9, 0.1);
    box-shadow: 5px 10px #3c005a;

    header {
      font-size: 20px;
      line-height: 32px;
      margin: 0 0 12px 0;
      color: #FFFFFF;
    }

    .place {
      border-radius: 10px;
      height: 30px;
      width: 300px;
      text-align: center;
    }

    .btn {
      margin-top: 20px;
      background-color: #550080;
      border-radius: 6px;
      border-color: transparent;
      width: 100px;
      height: 60px;
      color: #FFFFFF;
      font-size: 15px;
    }

    .btn:hover {
      background-color: #3c005a;
      color: #FFFFFF;
    }

    .deadline {
      border-radius: 15px;
      height: 30px;
      width: 300px;
      text-align: center;
    }
  }

  .todoList {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;

    .task {
      height: 100px;
      display: flex;
      text-align: center;
      font-family: "Roboto Mono", monospace;
      margin-bottom: 20px;

      table {
        background-color: #10101d;
        color: #FFFFFF;
        width: 100%;
        border-radius: 10px;
        box-shadow: 5px 10px #3c005a;

        tr {
          width: 100px;

          td {
            width: 200px;
          }
        }
      }
    }

    .delete {
      background-color: #F29393;
      border-radius: 6px;
      border-color: transparent;
      width: 80px;
      height: 40px;
    }

    .delete:hover {
      background-color: #F675A8;
    }

    .edit {
      background-color: #94B49F;
      border-radius: 6px;
      border-color: transparent;
      width: 80px;
      height: 40px;
    }

    .edit:hover {
      background-color: #224B0C;
    }
  }
}
